header{
    float: right;
    font-size: 5em;
    text-align: center;
}
.browse_img{
    width:10vw;
    height:12vw;
}

.browse_row{
    display:grid;
    grid-template-columns: auto auto auto auto;
}
