header{
    width: 100vw;
    font-size: 5em;
    text-align: center;
    display:flex;
    justify-content: space-around;
    background-color: darkgreen;
}

body{
    background-color: darkgreen;
}
.browse_img{
    width:10vw;
    height:12vw;
}

.browse_page{ 
}

.browse_row{
    display: flex;
    justify-content: space-around;
}

.item{
}
