header{
    font-family: 'Mountains of Christmas', cursive;
    text-align: center;
    font-size: 4em;
}

body{
    display:flex;
    flex-direction: column;
}
.add_field{
    border: solid;
    border-radius: .25em;
    padding: .5em;
    Width: 10em;
    margin-top:.5em;
}

.new_field{
    margin-top: .5em;
}

.list{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25vw;
    border: solid;
    padding: .5em;
}

#sign_up{
    margin:auto;
    display:flex;
    flex-direction: column;
    width: 10vw;
}

form{
    font-size: 2em;
    justify-content: center;
    margin-top: -1em;
    margin-left: 35vw;
}

input[type=text] {
    font-size: 16px;
    width: 25%%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 1em;
    margin:.25em;
}

.login_btn{
    background-color:#cf2727;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: .5em;
    margin:.5em;
    margin-top: 1em;
    width: 25vw;
}
.welcome_btn{
    background-color:#cf2727;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin:auto;
    margin-top: 1em;
    width: 25vw;
}