header{
    font-family: 'Mountains of Christmas', cursive;
    text-align: center;
}
.add_field{
    border: solid;
    border-radius: .25em;
    padding: .5em;
    Width: 10em;
    margin-top:.5em;
}

.new_field{
    margin-top: .5em;
}

.list{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25vw;
    border: solid;
    padding: .5em;
}