header{
    font-family: 'Mountains of Christmas', cursive;
    text-align: center;
    font-size: 8em;
}

body{
}
.add_field{
    border: solid;
    border-radius: .25em;
    padding: .5em;
    Width: 10em;
    margin-top:.5em;
}

.new_field{
    margin-top: .5em;
}

.list{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25vw;
    border: solid;
    padding: .5em;
}

#sign_up{
    margin:auto;
    display:flex;
    flex-direction: column;
    width: 10vw;
}

form{
    font-size: 4em;
    justify-content: center;
    margin-left: 35vw;
}

input[type=text] {
  width: 25%%;
  padding: 12px 20px;
  margin: auto;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 1em;
}

.welcome_btn{
  background-color:#cf2727;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
    margin:.5em;
    margin-top: 1em;
}