.add_field{
    border: solid;
    border-radius: .25em;
    padding: .5em;
    Width: 10em;
    margin-top:.5em;
}

.new_field{
    margin-top: .5em;
}

.list{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25hw;
    border: solid;
}