header {
  background: navy;
  color: white;
  width: 100vw;
}

body {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100vw;
  height: 100vh;
}

.orange {
  background-color: orange;
}

.blue {
   background-color: cyan;
}
