header {
  background: navy;
  color: white;
  text-align: center;
}

div {
  padding: 3em;
}

body {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100vw;
  height: 100vh;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: cyan;
}

#startTwo {
  grid-column-start:1;
  grid-row-start:2;
}
