header {
  grid-row-start: 1;
  grid-row-end: 2;
  background: navy;
  color: white;
  width: 100vw;
  text-align: center;
}

img {
  width:250px;
  height:200px;
}

a:hover {
  color: #FF6347;
}

div {
  padding: .5em;
  padding-left: 3em;
  margin: 1em;
}

body {
  font-family: courier;
  background-color: navy;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 45% 45%;
  width: 100vw;
  height: 100vh;
}

.orange {
  background-color: #FF6347;
}

.blue {
  background-color: cyan;
}

.imgHolder {
  grid-column-start: 2;
  grid-row-start: 3;
  display: grid;
  grid-template-columns: 25% 75%;
}

.imgHead{
  grid-column-start: 1;
}

.imgHeld {
  grid-column-start: 2;
}

#academics{
  grid-column-start: 2;
  grid-row-start: 2;
}

#family {
  grid-column-start:1;
  grid-row-start:3;
}

#quote {
  grid-row-start: 2;
  grid-column-start: 1;
}

