header {
  grid-row-start: 1;
  grid-row-end: 2;
  background: navy;
  color: white;
  width: 100vw;
  text-align: center;

}

div {
  padding: 3em;
}

body {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 45% 45%;
  width: 100vw;
  height: 100vh;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: cyan;
}

#talent {
  grid-column-start: 2;
  grid-row-start: 3;
  
}

#academics{
  grid-column-start: 2;
  grid-row-start: 2;
}

#family {
  grid-column-start:1;
  grid-row-start:3;
}

#quote {
  grid-row-start: 2;
  grid-column-start: 1;
}

